@import './components/index';

html, body {
  margin: 0;
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow:hidden;
}

.baseComponentContainer {
  height: 30vh;
  display: flex;
  justify-content: center;
  font-family: $primaryFont; 
}

.innerCenteredComponent {
  display: flex;
  width: 70vw;
  flex-direction: column;
  justify-content: center;
  letter-spacing: .6px;
}

.category {
  display: flex;
  margin-top: 3vmin;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

a {
  color: black;
  text-decoration: none;
}


.skillbar {
  height: 20px;
  width: 20px;
  margin-left: 2vw;
  margin-bottom: 1.5vh;
  border-radius: 50%;

}

.skillsgraph {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pavanam';
  font-weight: bold;
}

.holder {
  display: flex;
  justify-content: flex-end;
  margin-left: 5px;

}

.moveDown {
  background-color: #F8F8F9;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.centerIt {
  display:flex;
  justify-content: center;
  padding-top: 1vh;
}

.hello {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items:flex-end;
  flex-direction: column;
  margin-Top: 1.5vh;
}

.one {
  background-color: orange;
}

.zero {
  background-color: gray;
}


