@import '../variables';

.footer {
  background-color: white;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-Items: center;
  padding-top: 1vh;

}

.copyright {
  flex-grow: 1;
  padding-left: 4vw;

}

.icons {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
}

i {
  margin: 4vw;
}

.words {
    font-family: $primaryFont;
}

