@import '../variables';

.footer {
  background-color: white;
  height: 72px;
  padding: 30px;
  box-sizing: border-box;
  vertical-align: center;
  
  .words {
    font-family: $primaryFont
  }

  .icons {
    float: right;

    i {
      margin: 0px 10px;
    }
  }

}

