@import '../variables';

.Header {
    align-items: center;
    height: 8vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.Header {
    * {
      text-align: center; 
      font-size: 1em; 
      flex-basis: 50vmin;
      transition: all .2s ease-in-out;
    }

    *:hover {
      color: #FF4242;
      transform: scale(1.2);
    }
}

#name {
    font-size: 3em;
    font-family:'Playfair Display', serif;
    font-weight: bold;
}

#name:hover {
    color: black;
}

