.containerHead {
    display: flex;
    justify-content: center;
    height: 10vh;
    font-family: 'Pavanam';
    align-items: center;
    background-color: white;
}

.title {
    flex-basis: 50vmin;
    text-align: center;
    font-size: 18px;
}

.name {
    flex-basis: 80vmin;
    text-align: center;
    font-size: 30px;
    font-family: 'Lora', serif;
  }

