
@import '../variables.scss';

.intro {
  background-color: $blue;
  padding: 13px 25%;
  height: 200px;

  
    img {
      height: 175px;
    }

}

.plus {
  align-self: center;
  font-size: 100px;
  color: $gray;
}

.equal {  
  padding-right: 42px;
  padding-bottom: 23px;
}


.loader {
  position: relative;
  margin-top: 5px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 15s infinite linear;
  animation: load8 15s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.heart {
  background-color: #E83C3C;
  display: inline-block;
  height: 80px;
  margin: 55px 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 80px;
  align-self: center;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #E83C3C;
  border-radius: 50%;
  height: 80px;
  position: absolute;
  width: 80px;
}

.heart:before {
  top: -43px;
  left: 0;
}

.heart:after {
  left: 43px;
  top: 0;
}

