@import '../variables';

.container {
  background-color: #EFEFEF;
  width: 100vw;

  .resume {
   font-family: $secondarySerifFont;
   font-size: 1.5em;
   padding: 0px;
   padding-right: 1vw;
   margin-bottom: 0px;
   text-align: center;
   font-weight: bold;
   padding-bottom: 0px;
  }
}


.flexThis {
  display: flex;
  justify-content: center;
  margin-right: 1vw;
  margin-top: 0px;
  padding: 0px;
}

.resumeHeading {
  font-family: 'Pavanam';
  font-size: 1em;
  font-weight: bold;
  flex-basis: 14vw;
  padding: 0px;
  margin-right: 5px;
  flex-grow: 1;
  padding-top: 3vh;
}


